# Environnements virtuels
venv/
.env/
env/

# Bases de datos locales y temporales
db.sqlite3
*.sqlite3

# Archivos de configuración
.env
local_settings.py

# Caché y archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Archivos de IDEs y editores
.vscode/
.idea/

# Archivos de caché de Django
media/ # Si no quieres subir archivos de medios generados por el usuario
static/ # Si generas estáticos y no quieres subirlos

# Archivos de paquetes de Node.js (si tienes un frontend)
node_modules/

# Archivos generados por el propio framework
staticfiles/ # Si usas collectstatic y no quieres subir los archivos estáticos